.container2{
    width: 100vw;
    height: 30vh;
    border: 0px solid red; 
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.note2{
    width: 40%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    border: 1px solid #cecdcd;
    border-radius: 8px;
    /* box-shadow: 2px 2px 2px #e0e0e0; */
    row-gap: 6px;
    position: relative;
    top: 20px;
}

.noteicon{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 0px solid red;
}
.title1{
    height: 100%;
    width: 50%;
    border: 0px solid black;
    display: flex;
    flex-direction: column;
}
.t{
    height: 33.3%;
    width: 50%;
    border: 0px solid red;
    position: relative;
    left: 10px;
    top: 5px;
   display: flex;
   justify-content: flex-start;
}
.pin{
    height: 100%;
    width: 50%;
    border: 0px solid black;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 10px;
    right: 10px;
}
.input2[type=text]{
    border: none;
    font-size: 15px;
    position: relative;
    bottom: 5px;
}
.text2{
    height: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    left: 10px;
    top: 15px;
    row-gap: 15px;
    outline: none;
}
.icons2{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 10px;
    column-gap: 110px;
}
